<header class="page-header">
    <div class="container">
        <div class="page-header__row">
            <div class="page-header__menu">
                <nav class="page-header__menu-nav">
                    <ul>
                        <li>
                            <a href="#products">
                                Продукты
                            </a>
                        </li>
                        <li>
                            <a href="#calculator">
                                Калькулятор
                            </a>
                        </li>
                        <li>
                            <a href="#about">
                                О компании
                            </a>
                        </li>
                        <li>
                            <a href="#certificates">
                                Сертификаты
                            </a>
                        </li>
                    </ul>
                </nav>
                <ul class="page-header__menu-contacts-list">
                    <li class="page-header__menu-contacts-list-item">
                        <div class="page-header__menu-contacts-card">
                            <h4 class="page-header__menu-contacts-card-key">
                                Для оформления заказа
                            </h4>
                            <a href="mailto:zakaz@ravotek.ru" class="page-header__menu-contacts-card-value">
                                zakaz@ravotek.ru
                            </a>
                        </div>
                    </li>
                    <li class="page-header__menu-contacts-list-item">
                        <div class="page-header__menu-contacts-card">
                            <h4 class="page-header__menu-contacts-card-key">
                                Для ваших писем
                            </h4>
                            <a href="mailto:info@rovatek.ru" class="page-header__menu-contacts-card-value">
                                info@rovatek.ru
                            </a>
                        </div>
                    </li>
                </ul>
                <div class="page-header__menu-info">
                    РОВАТЭК — Официальный представитель Yuchai в России. Двигатели Yuchai установлены более чемна 100
                    000 транспортных средств в Китае и в большинство азиатских стран
                </div>
            </div>
            <a href="#" class="page-header__logo">
                <img src="img/logo.svg" alt="" class="page-header__logo-image">
                <div class="page-header__logo-text">
                    Официальный представитель<br> Yuchai в России
                </div>
            </a>
            <nav class="page-header__nav">
                <ul>
                    <li>
                        <a href="#products">
                            Продукты
                        </a>
                    </li>
                    <li>
                        <a href="#calculator">
                            Калькулятор
                        </a>
                    </li>
                    <li>
                        <a href="#about">
                            О компании
                        </a>
                    </li>
                    <li>
                        <a href="#certificates">
                            Сертификаты
                        </a>
                    </li>
                </ul>
            </nav>
            <button class="page-header__burger">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </div>
</header>