<div class="modal js-modal" id="callback-modal">
    <div class="modal__inner">
        <button class="modal__close js-close-modal">
            <svg width="45" height="45" aria-hidden="true" class="icon-close">
                <use xlink:href="#close"></use>
            </svg>
        </button>
        <h3 class="modal__heading">
            Ваши контакты
        </h3>
        <form action="/" class="modal__form" data-need-validation="">
            <div class="modal__form-fields">
                <div class="modal__form-field" id="your-name">
                    <label class="modal__form-label">
                        <input type="text" name="your-name" class="modal__form-input" required=""
                            data-parsley-errors-container="#your-name" placeholder="Имя">
                        <span class="modal__form-label-text">
                            Имя
                        </span>
                    </label>
                </div>
                <div class="modal__form-field" id="your-phone">
                    <label class="modal__form-label">
                        <input type="tel" name="your-phone" class="modal__form-input js-phone-input" required=""
                            data-parsley-phone="" data-parsley-errors-container="#your-phone" placeholder="Телефон">
                        <span class="modal__form-label-text">
                            Телефон
                        </span>
                    </label>
                </div>
                <div class="modal__form-field" id="your-email">
                    <label class="modal__form-label">
                        <input type="email" name="your-email" class="modal__form-input" required=""
                            data-parsley-errors-container="#your-email" placeholder="Почта">
                        <span class="modal__form-label-text">
                            Почта
                        </span>
                    </label>
                </div>
                <div class="modal__form-field" id="your-comment">
                    <label class="modal__form-label">
                        <textarea name="your-comment" class="modal__form-input"
                            data-parsley-errors-container="#your-comment" placeholder="Комментарий"></textarea>

                        <span class="modal__form-label-text">
                            Комментарии
                        </span>
                    </label>
                </div>
                <div class="modal__form-field">
                    <label class="modal__checkbox">
                        <input type="checkbox" class="modal__checkbox-input" required="" name="policy" checked="">
                        <span class="modal__checkbox-mark">
                            <svg width="45" height="45" aria-hidden="true" class="icon-checkmark">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                        </span>
                        <span class="modal__checkbox-text">
                            Я согласен на обработку <a href="#">персональных данных</a>
                        </span>

                    </label>
                </div>
            </div>
            <button class="modal__form-submit" type="submit">
                Отправить
                <svg width="45" height="45" aria-hidden="true" class="icon-arrow-right">
                    <use xlink:href="#arrow-right"></use>
                </svg>
            </button>
        </form>
    </div>
</div>
<div class="modal js-modal" id="callback-modal-success">
    <div class="modal__inner">
        <button class="modal__close js-close-modal">
            <svg width="45" height="45" aria-hidden="true" class="icon-close">
                <use xlink:href="#close"></use>
            </svg>
        </button>
        <h3 class="modal__heading">
            Заявка отправлена
        </h3>
        <div class="modal__text">
            <p>
                Ваше запрос успешно отправлен!<br> Спасибо за обращение
            </p>
        </div>
        <button class="modal__back js-close-modal">
            На главную
            <svg width="45" height="45" aria-hidden="true" class="icon-arrow-right">
                <use xlink:href="#arrow-right"></use>
            </svg>
        </button>

    </div>
</div>

<div class="modal modal--no-padding js-modal" id="product-modal">
    <div class="modal__product">
        {{!-- <button class="modal__product-close js-close-modal">
            <svg width="45" height="45" aria-hidden="true" class="icon-close">
                <use xlink:href="#close"></use>
            </svg>
        </button> --}}
        <div class="container">
            <div class="modal__product-back">
                <button class="modal__product-back-btn js-close-modal">
                    <svg width="45" height="45" aria-hidden="true" class="icon-arrow-back">
                        <use xlink:href="#arrow-back"></use>
                    </svg>
                    Назад
                </button>
            </div>
            <div class="modal__product-row">
                <div class="modal__product-col">
                    <div class="modal__product-images js-product-images-slider">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="img/modal-products/1.png" alt="" class="modal__product-image">
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="modal__product-video-wrapper">
                                        <div class="modal__product-video-bg">
                                            <img src="img/modal-products/video-preview.jpg" alt=""
                                                class="modal__product-video-bg-image">
                                        </div>
                                        <svg width="45" height="45" aria-hidden="true" class="icon-play">
                                            <use xlink:href="#play"></use>
                                        </svg>
                                    </a>
                                </div>

                                <div class="swiper-slide">
                                    <img src="img/modal-products/2.png" alt="" class="modal__product-image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal__product-col">


                    <h3 class="modal__product-title">
                        YCG-50N5LC
                    </h3>
                    <div class="modal__product-model">
                        Газовый генератор
                    </div>
                    <div class="modal__product-btns">
                        <a href="#callback-modal" class="modal__product-callback-btn">
                            Узнать стоимость
                            <svg width="45" height="45" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </a>
                        <a href="#" class="modal__product-doc-btn">
                            Документы
                            <svg width="45" height="45" aria-hidden="true" class="icon-doc">
                                <use xlink:href="#doc"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="modal__product-specs">
                        <div class="modal__product-specs-block">
                            <h4 class="modal__product-specs-block-title">
                                Основные характеристики
                            </h4>
                            <ul class="modal__product-specs-block-list">
                                <li class="modal__product-specs-block-list-item">
                                    <div class="modal__product-specs-block-card">
                                        <h5 class="modal__product-specs-block-card-key">
                                            Модель
                                        </h5>
                                        <div class="modal__product-specs-block-card-text">
                                            YCG-50N5LC
                                        </div>
                                    </div>
                                </li>
                                <li class="modal__product-specs-block-list-item">
                                    <div class="modal__product-specs-block-card">
                                        <h5 class="modal__product-specs-block-card-key">
                                            Номинальная мощность
                                        </h5>
                                        <div class="modal__product-specs-block-card-text">
                                            50 кВт/62,5 кВА

                                        </div>
                                    </div>
                                </li>
                                <li class="modal__product-specs-block-list-item">
                                    <div class="modal__product-specs-block-card">
                                        <h5 class="modal__product-specs-block-card-key">
                                            Частота вращения
                                        </h5>
                                        <div class="modal__product-specs-block-card-text">
                                            1500 об/мин
                                        </div>
                                    </div>
                                </li>
                                <li class="modal__product-specs-block-list-item">
                                    <div class="modal__product-specs-block-card">
                                        <h5 class="modal__product-specs-block-card-key">
                                            Номинальное напряжение
                                        </h5>
                                        <div class="modal__product-specs-block-card-text">
                                            400 В

                                        </div>
                                    </div>
                                </li>
                                <li class="modal__product-specs-block-list-item">
                                    <div class="modal__product-specs-block-card">
                                        <h5 class="modal__product-specs-block-card-key">
                                            Номинальный ток
                                        </h5>
                                        <div class="modal__product-specs-block-card-text">
                                            90 A
                                        </div>
                                    </div>
                                </li>
                                <li class="modal__product-specs-block-list-item">
                                    <div class="modal__product-specs-block-card">
                                        <h5 class="modal__product-specs-block-card-key">
                                            Частота
                                        </h5>
                                        <div class="modal__product-specs-block-card-text">
                                            0,50 Гц

                                        </div>
                                    </div>
                                </li>
                                <li class="modal__product-specs-block-list-item">
                                    <div class="modal__product-specs-block-card">
                                        <h5 class="modal__product-specs-block-card-key">
                                            Коэффициент мощности
                                        </h5>
                                        <div class="modal__product-specs-block-card-text">
                                            0,8 cos φ


                                        </div>
                                    </div>
                                </li>
                                <li class="modal__product-specs-block-list-item">
                                    <div class="modal__product-specs-block-card">
                                        <h5 class="modal__product-specs-block-card-key">
                                            Электроэффективность
                                        </h5>
                                        <div class="modal__product-specs-block-card-text">
                                            ≥34,9%
                                        </div>
                                    </div>
                                </li>
                                <li class="modal__product-specs-block-list-item">
                                    <div class="modal__product-specs-block-card">
                                        <h5 class="modal__product-specs-block-card-key">
                                            Расход газа
                                        </h5>
                                        <div class="modal__product-specs-block-card-text">
                                            15,7 м3/ч
                                        </div>
                                    </div>
                                </li>
                                <li class="modal__product-specs-block-list-item">
                                    <div class="modal__product-specs-block-card">
                                        <h5 class="modal__product-specs-block-card-key">
                                            Уровень шума
                                        </h5>
                                        <div class="modal__product-specs-block-card-text">
                                            ≤115dB(A)@1m
                                        </div>
                                    </div>
                                </li>
                                <li class="modal__product-specs-block-list-item">
                                    <div class="modal__product-specs-block-card">
                                        <h5 class="modal__product-specs-block-card-key">
                                            Метод запуска
                                        </h5>
                                        <div class="modal__product-specs-block-card-text">
                                            Электрический старт

                                        </div>
                                    </div>
                                </li>
                                <li class="modal__product-specs-block-list-item">
                                    <div class="modal__product-specs-block-card">
                                        <h5 class="modal__product-specs-block-card-key">
                                            Масса
                                        </h5>
                                        <div class="modal__product-specs-block-card-text">
                                            1 000 кг
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="modal__product-specs-block">
                            <h4 class="modal__product-specs-block-title">
                                Параметры двигателя
                            </h4>
                            <ul class="modal__product-specs-block-list">
                                <li class="modal__product-specs-block-list-item">
                                    <div class="modal__product-specs-block-card">
                                        <h5 class="modal__product-specs-block-card-key">
                                            Модель двигателя
                                        </h5>
                                        <div class="modal__product-specs-block-card-text">
                                            YC4D90N-D30

                                        </div>
                                    </div>
                                </li>
                                <li class="modal__product-specs-block-list-item">
                                    <div class="modal__product-specs-block-card">
                                        <h5 class="modal__product-specs-block-card-key">
                                            Мощность
                                        </h5>
                                        <div class="modal__product-specs-block-card-text">
                                            60 кВт
                                        </div>
                                    </div>
                                </li>
                                <li class="modal__product-specs-block-list-item">
                                    <div class="modal__product-specs-block-card">
                                        <h5 class="modal__product-specs-block-card-key">
                                            Частота вращения
                                        </h5>
                                        <div class="modal__product-specs-block-card-text">
                                            1500 об/мин

                                        </div>
                                    </div>
                                </li>
                                <li class="modal__product-specs-block-list-item">
                                    <div class="modal__product-specs-block-card">
                                        <h5 class="modal__product-specs-block-card-key">
                                            Количество цилиндров
                                        </h5>
                                        <div class="modal__product-specs-block-card-text">
                                            4
                                        </div>
                                    </div>
                                </li>
                                <li class="modal__product-specs-block-list-item">
                                    <div class="modal__product-specs-block-card">
                                        <h5 class="modal__product-specs-block-card-key">
                                            Тип
                                        </h5>
                                        <div class="modal__product-specs-block-card-text">
                                            Рядный, четырехтактный, жидкостное охлаждение

                                        </div>
                                    </div>
                                </li>
                                <li class="modal__product-specs-block-list-item">
                                    <div class="modal__product-specs-block-card">
                                        <h5 class="modal__product-specs-block-card-key">
                                            Диаметр цилиндра×ход
                                        </h5>
                                        <div class="modal__product-specs-block-card-text">
                                            108 мм×115мм
                                        </div>
                                    </div>
                                </li>
                                <li class="modal__product-specs-block-list-item">
                                    <div class="modal__product-specs-block-card">
                                        <h5 class="modal__product-specs-block-card-key">
                                            Рабочий объем
                                        </h5>
                                        <div class="modal__product-specs-block-card-text">
                                            4,21 л

                                        </div>
                                    </div>
                                </li>
                                <li class="modal__product-specs-block-list-item">
                                    <div class="modal__product-specs-block-card">
                                        <h5 class="modal__product-specs-block-card-key">
                                            Степень сжатия
                                        </h5>
                                        <div class="modal__product-specs-block-card-text">
                                            11,5:1
                                        </div>
                                    </div>
                                </li>
                                <li class="modal__product-specs-block-list-item">
                                    <div class="modal__product-specs-block-card">
                                        <h5 class="modal__product-specs-block-card-key">
                                            Система управления
                                        </h5>
                                        <div class="modal__product-specs-block-card-text">
                                            ЭБУ
                                        </div>
                                    </div>
                                </li>
                                <li class="modal__product-specs-block-list-item">
                                    <div class="modal__product-specs-block-card">
                                        <h5 class="modal__product-specs-block-card-key">
                                            Удельный расход масла
                                        </h5>
                                        <div class="modal__product-specs-block-card-text">
                                            0,2 г/кВтч

                                        </div>
                                    </div>
                                </li>
                                <li class="modal__product-specs-block-list-item">
                                    <div class="modal__product-specs-block-card">
                                        <h5 class="modal__product-specs-block-card-key">
                                            Емкость охлаждающей жидкости (включая радиатор)
                                        </h5>
                                        <div class="modal__product-specs-block-card-text">
                                            32 л
                                        </div>
                                    </div>
                                </li>
                                <li class="modal__product-specs-block-list-item">
                                    <div class="modal__product-specs-block-card">
                                        <h5 class="modal__product-specs-block-card-key">
                                            Объем масла
                                        </h5>
                                        <div class="modal__product-specs-block-card-text">
                                            13 л
                                        </div>
                                    </div>
                                </li>
                                <li class="modal__product-specs-block-list-item">
                                    <div class="modal__product-specs-block-card">
                                        <h5 class="modal__product-specs-block-card-key">
                                            Ресурс до капитального ремонта
                                        </h5>
                                        <div class="modal__product-specs-block-card-text">
                                            40 000 моточасов
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                        <div class="modal__product-specs-block">
                            <h4 class="modal__product-specs-block-title">
                                Параметры генератора

                            </h4>
                            <ul class="modal__product-specs-block-list">
                                <li class="modal__product-specs-block-list-item">
                                    <div class="modal__product-specs-block-card">
                                        <h5 class="modal__product-specs-block-card-key">
                                            Модель генератора
                                        </h5>
                                        <div class="modal__product-specs-block-card-text">
                                            YC-50-4


                                        </div>
                                    </div>
                                </li>
                                <li class="modal__product-specs-block-list-item">
                                    <div class="modal__product-specs-block-card">
                                        <h5 class="modal__product-specs-block-card-key">
                                            Режим соединения
                                        </h5>
                                        <div class="modal__product-specs-block-card-text">
                                            Трехфазная четырехпроводная система (Y-образная)
                                        </div>
                                    </div>
                                </li>
                                <li class="modal__product-specs-block-list-item">
                                    <div class="modal__product-specs-block-card">
                                        <h5 class="modal__product-specs-block-card-key">
                                            Метод регулирования напряжения
                                        </h5>
                                        <div class="modal__product-specs-block-card-text">
                                            автоматический регулятор напряжения (AVR)
                                        </div>
                                    </div>
                                </li>
                                <li class="modal__product-specs-block-list-item">
                                    <div class="modal__product-specs-block-card">
                                        <h5 class="modal__product-specs-block-card-key">
                                            Класс защиты
                                        </h5>
                                        <div class="modal__product-specs-block-card-text">
                                            IP21

                                        </div>
                                    </div>
                                </li>
                                <li class="modal__product-specs-block-list-item">
                                    <div class="modal__product-specs-block-card">
                                        <h5 class="modal__product-specs-block-card-key">
                                            Класс изоляции
                                        </h5>
                                        <div class="modal__product-specs-block-card-text">
                                            F

                                        </div>
                                    </div>
                                </li>



                            </ul>
                        </div>
                        <div class="modal__product-specs-block">
                            <h4 class="modal__product-specs-block-title">
                                Размеры

                            </h4>
                            <ul class="modal__product-specs-block-list">
                                <li class="modal__product-specs-block-list-item">
                                    <div class="modal__product-specs-block-card">
                                        <h5 class="modal__product-specs-block-card-key">
                                            Длина (А)
                                        </h5>
                                        <div class="modal__product-specs-block-card-text">
                                            1 900 мм
                                        </div>
                                    </div>
                                </li>
                                <li class="modal__product-specs-block-list-item">
                                    <div class="modal__product-specs-block-card">
                                        <h5 class="modal__product-specs-block-card-key">
                                            Ширина (B)
                                        </h5>
                                        <div class="modal__product-specs-block-card-text">
                                            720 мм

                                        </div>
                                    </div>
                                </li>
                                <li class="modal__product-specs-block-list-item">
                                    <div class="modal__product-specs-block-card">
                                        <h5 class="modal__product-specs-block-card-key">
                                            Высота (C)
                                        </h5>
                                        <div class="modal__product-specs-block-card-text">
                                            930 мм
                                        </div>
                                    </div>
                                </li>
                                <li class="modal__product-specs-block-list-item">
                                    <div class="modal__product-specs-block-card">
                                        <h5 class="modal__product-specs-block-card-key">
                                            Масса
                                        </h5>
                                        <div class="modal__product-specs-block-card-text">
                                            1 000 кг
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <form action="/" method="POST" class="modal__product-form" data-need-validation="">
            <div class="container">
                <div class="modal__product-form-row">
                    <div class="modal__product-form-text-content">
                        <h3 class="modal__product-form-heading">
                            Остались вопросы?
                        </h3>
                        <div class="modal__product-form-text">
                            <p>
                                Если вы хотите узнать больше информации, мы готовы ответить на все вопросы
                            </p>
                        </div>
                    </div>
                    <div class="modal__product-form-main-content">
                        <div class="modal__product-form-fields">
                            <div class="modal__product-form-field" id="modal-name">
                                <label class="modal__product-form-label">
                                    <input type="text" name="your-name" class="modal__product-form-input" required=""
                                        placeholder="Имя" required="" data-parsley-errors-container="#modal-name">
                                    <span class="modal__product-form-label-text">
                                        Имя
                                    </span>
                                </label>
                            </div>
                            <div class="modal__product-form-field" id="modal-phone">
                                <label class="modal__product-form-label">
                                    <input type="tel" name="your-phone" class="modal__product-form-input js-phone-input"
                                        required="" placeholder="Телефон" required="" data-parsley-phone=""
                                        data-parsley-errors-container="#modal-phone">
                                    <span class="modal__product-form-label-text">
                                        Телефон
                                    </span>
                                </label>
                            </div>
                            <div class="modal__product-form-field" id="modal-email">
                                <label class="modal__product-form-label">
                                    <input type="email" name="your-email" class="modal__product-form-input" required=""
                                        placeholder="Почта" required="" data-parsley-errors-container="#modal-email">
                                    <span class="modal__product-form-label-text">
                                        Почта
                                    </span>
                                </label>
                            </div>
                            <div class="modal__product-form-field" id="modal-email">
                                <label class="modal__product-form-checkbox">
                                    <input type="checkbox" class="modal__product-form-checkbox-input" required=""
                                        name="policy" checked="">
                                    <span class="modal__product-form-checkbox-mark">
                                        <svg width="45" height="45" aria-hidden="true" class="icon-checkmark">
                                            <use xlink:href="#checkmark"></use>
                                        </svg>
                                    </span>
                                    <span class="modal__product-form-checkbox-text">
                                        Я согласен на обработку <a href="#">персональных данных</a>
                                    </span>

                                </label>
                            </div>
                        </div>
                        <button class="modal__product-form-submit" type="submit">
                            Отправить
                            <svg width="45" height="45" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>