{{#extend "layout"}}
{{#content "main"}}


<section class="intro">
    <div class="container">
        <div class="intro__content">
            <div class="intro__bg">
            
                <video class="intro__bg-image lazyload" muted="" data-autoplay="" loop="" playsinline="" preload="none">
                    <source src="assets/video/video.mp4" type="video/mp4" />
                </video>
            </div>
            <h1 class="intro__heading">
                Надежные газовые электростанции Yuchai
            </h1>
            <div class="intro__text">
                <p>
                    Основываясь на многолетнем конструкторском и производственном опыте, компания Yuchai разработала и
                    внедрила высокотемпературные
                </p>
            </div>
            <div class="intro__bottom-row">
                <ul class="intro__features-list">
                    <li class="intro__features-list-item">
                        <div class="intro__features-card">
                            <img src="img/features/1.svg" alt="" class="intro__features-card-icon">
                            Работаем <br>по всей России
                        </div>
                    </li>
                    <li class="intro__features-list-item">
                        <div class="intro__features-card">
                            <img src="img/features/2.svg" alt="" class="intro__features-card-icon">
                            От заявки до поставки<br> 2-3 месяца
                        </div>
                    </li>
                </ul>
                <a href="#callback-modal" class="intro__callback-link">
                    Подобрать решение
                    <svg width="45" height="45" aria-hidden="true" class="icon-arrow-right">
                        <use xlink:href="#arrow-right"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="products" id="products">
    <div class="container">
        <div class="products__content">
            <ul class="products__list">
                <li class="products__list-item">
                    <div class="products__card js-tabs">
                        <div class="products__card-top-row">
                            <div class="products__card-heading-wrapper">
                                <h3 class="products__card-heading">
                                    Газовый генератор
                                </h3>
                                <div class="products__card-model">
                                    YC6MKG-150N5LC
                                </div>
                            </div>
                            <div class="products__card-nav">
                                <a href="#" class="products__card-nav-link js-tabs-btn active">
                                    50 кВт
                                </a>
                                <a href="#" class="products__card-nav-link js-tabs-btn">
                                    100 кВт
                                </a>
                                <a href="#" class="products__card-nav-link js-tabs-btn">
                                    150 кВт
                                </a>
                                <a href="#" class="products__card-nav-link js-tabs-btn">
                                    200 кВт
                                </a>
                                <a href="#" class="products__card-nav-link js-tabs-btn">
                                    250 кВт
                                </a>
                            </div>
                        </div>
                        <div class="products__card-tabs">
                            <div class="products__card-tabs-item active js-tabs-item">
                                <div class="products__card-content">
                                    <div class="products__card-info">
                                        <ul class="products__card-specs-list">
                                            <li class="products__card-specs-list-item">
                                                <div class="products__card-specs-card">
                                                    <h4 class="products__card-specs-card-title">
                                                        Двигатель
                                                    </h4>
                                                    <div class="products__card-specs-card-value">
                                                        YCG-50N5LC
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="products__card-specs-list-item">
                                                <div class="products__card-specs-card">
                                                    <h4 class="products__card-specs-card-title">
                                                        Электрическая мощность
                                                    </h4>
                                                    <div class="products__card-specs-card-value">
                                                        50 кВт/62,5 кВА
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="products__card-specs-list-item">
                                                <div class="products__card-specs-card">
                                                    <h4 class="products__card-specs-card-title">
                                                        Генератор
                                                    </h4>
                                                    <div class="products__card-specs-card-value">
                                                        YC-50-4
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="products__card-specs-list-item">
                                                <div class="products__card-specs-card">
                                                    <h4 class="products__card-specs-card-title">
                                                        Средний расход газа
                                                    </h4>
                                                    <div class="products__card-specs-card-value">
                                                        15,7 м3/ч
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="products__card-specs-list-item">
                                                <div class="products__card-specs-card">
                                                    <h4 class="products__card-specs-card-title">
                                                        Ресурс до капитального ремонта
                                                    </h4>
                                                    <div class="products__card-specs-card-value">
                                                        40 000 моточасов
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="products__card-specs-list-item">
                                                <div class="products__card-specs-card">
                                                    <h4 class="products__card-specs-card-title">
                                                        Размеры, мм
                                                    </h4>
                                                    <div class="products__card-specs-card-value">
                                                        1900 х 720 х 930
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <a href="#product-modal" class="products__details-link">
                                            Смотреть полное описание
                                            <svg width="45" height="45" aria-hidden="true" class="icon-eye">
                                                <use xlink:href="#eye"></use>
                                            </svg>
                                        </a>
                                    </div>
                                    <div class="products__card-image-container">
                                        <img src="img/products/1.png" alt="" class="products__card-image">
                                    </div>
                                </div>
                            </div>
                            <div class="products__card-tabs-item js-tabs-item">
                                <div class="products__card-content">
                                    <div class="products__card-info">
                                        <ul class="products__card-specs-list">
                                            <li class="products__card-specs-list-item">
                                                <div class="products__card-specs-card">
                                                    <h4 class="products__card-specs-card-title">
                                                        Двигатель
                                                    </h4>
                                                    <div class="products__card-specs-card-value">
                                                        YCG-50N5LC
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="products__card-specs-list-item">
                                                <div class="products__card-specs-card">
                                                    <h4 class="products__card-specs-card-title">
                                                        Электрическая мощность
                                                    </h4>
                                                    <div class="products__card-specs-card-value">
                                                        50 кВт/62,5 кВА
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="products__card-specs-list-item">
                                                <div class="products__card-specs-card">
                                                    <h4 class="products__card-specs-card-title">
                                                        Генератор
                                                    </h4>
                                                    <div class="products__card-specs-card-value">
                                                        YC-50-4
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="products__card-specs-list-item">
                                                <div class="products__card-specs-card">
                                                    <h4 class="products__card-specs-card-title">
                                                        Средний расход газа
                                                    </h4>
                                                    <div class="products__card-specs-card-value">
                                                        15,7 м3/ч
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="products__card-specs-list-item">
                                                <div class="products__card-specs-card">
                                                    <h4 class="products__card-specs-card-title">
                                                        Ресурс до капитального ремонта
                                                    </h4>
                                                    <div class="products__card-specs-card-value">
                                                        40 000 моточасов
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="products__card-specs-list-item">
                                                <div class="products__card-specs-card">
                                                    <h4 class="products__card-specs-card-title">
                                                        Размеры, мм
                                                    </h4>
                                                    <div class="products__card-specs-card-value">
                                                        1900 х 720 х 930
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <a href="#product-modal" class="products__details-link">
                                            Смотреть полное описание
                                            <svg width="45" height="45" aria-hidden="true" class="icon-eye">
                                                <use xlink:href="#eye"></use>
                                            </svg>
                                        </a>
                                    </div>
                                    <div class="products__card-image-container">
                                        <img src="img/products/1.png" alt="" class="products__card-image">
                                    </div>
                                </div>
                            </div>
                            <div class="products__card-tabs-item js-tabs-item">
                                <div class="products__card-content">
                                    <div class="products__card-info">
                                        <ul class="products__card-specs-list">
                                            <li class="products__card-specs-list-item">
                                                <div class="products__card-specs-card">
                                                    <h4 class="products__card-specs-card-title">
                                                        Двигатель
                                                    </h4>
                                                    <div class="products__card-specs-card-value">
                                                        YCG-50N5LC
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="products__card-specs-list-item">
                                                <div class="products__card-specs-card">
                                                    <h4 class="products__card-specs-card-title">
                                                        Электрическая мощность
                                                    </h4>
                                                    <div class="products__card-specs-card-value">
                                                        50 кВт/62,5 кВА
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="products__card-specs-list-item">
                                                <div class="products__card-specs-card">
                                                    <h4 class="products__card-specs-card-title">
                                                        Генератор
                                                    </h4>
                                                    <div class="products__card-specs-card-value">
                                                        YC-50-4
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="products__card-specs-list-item">
                                                <div class="products__card-specs-card">
                                                    <h4 class="products__card-specs-card-title">
                                                        Средний расход газа
                                                    </h4>
                                                    <div class="products__card-specs-card-value">
                                                        15,7 м3/ч
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="products__card-specs-list-item">
                                                <div class="products__card-specs-card">
                                                    <h4 class="products__card-specs-card-title">
                                                        Ресурс до капитального ремонта
                                                    </h4>
                                                    <div class="products__card-specs-card-value">
                                                        40 000 моточасов
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="products__card-specs-list-item">
                                                <div class="products__card-specs-card">
                                                    <h4 class="products__card-specs-card-title">
                                                        Размеры, мм
                                                    </h4>
                                                    <div class="products__card-specs-card-value">
                                                        1900 х 720 х 930
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <a href="#product-modal" class="products__details-link">
                                            Смотреть полное описание
                                            <svg width="45" height="45" aria-hidden="true" class="icon-eye">
                                                <use xlink:href="#eye"></use>
                                            </svg>
                                        </a>
                                    </div>
                                    <div class="products__card-image-container">
                                        <img src="img/products/1.png" alt="" class="products__card-image">
                                    </div>
                                </div>
                            </div>
                            <div class="products__card-tabs-item js-tabs-item">
                                <div class="products__card-content">
                                    <div class="products__card-info">
                                        <ul class="products__card-specs-list">
                                            <li class="products__card-specs-list-item">
                                                <div class="products__card-specs-card">
                                                    <h4 class="products__card-specs-card-title">
                                                        Двигатель
                                                    </h4>
                                                    <div class="products__card-specs-card-value">
                                                        YCG-50N5LC
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="products__card-specs-list-item">
                                                <div class="products__card-specs-card">
                                                    <h4 class="products__card-specs-card-title">
                                                        Электрическая мощность
                                                    </h4>
                                                    <div class="products__card-specs-card-value">
                                                        50 кВт/62,5 кВА
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="products__card-specs-list-item">
                                                <div class="products__card-specs-card">
                                                    <h4 class="products__card-specs-card-title">
                                                        Генератор
                                                    </h4>
                                                    <div class="products__card-specs-card-value">
                                                        YC-50-4
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="products__card-specs-list-item">
                                                <div class="products__card-specs-card">
                                                    <h4 class="products__card-specs-card-title">
                                                        Средний расход газа
                                                    </h4>
                                                    <div class="products__card-specs-card-value">
                                                        15,7 м3/ч
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="products__card-specs-list-item">
                                                <div class="products__card-specs-card">
                                                    <h4 class="products__card-specs-card-title">
                                                        Ресурс до капитального ремонта
                                                    </h4>
                                                    <div class="products__card-specs-card-value">
                                                        40 000 моточасов
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="products__card-specs-list-item">
                                                <div class="products__card-specs-card">
                                                    <h4 class="products__card-specs-card-title">
                                                        Размеры, мм
                                                    </h4>
                                                    <div class="products__card-specs-card-value">
                                                        1900 х 720 х 930
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <a href="#product-modal" class="products__details-link">
                                            Смотреть полное описание
                                            <svg width="45" height="45" aria-hidden="true" class="icon-eye">
                                                <use xlink:href="#eye"></use>
                                            </svg>
                                        </a>
                                    </div>
                                    <div class="products__card-image-container">
                                        <img src="img/products/1.png" alt="" class="products__card-image">
                                    </div>
                                </div>
                            </div>
                            <div class="products__card-tabs-item js-tabs-item">
                                <div class="products__card-content">
                                    <div class="products__card-info">
                                        <ul class="products__card-specs-list">
                                            <li class="products__card-specs-list-item">
                                                <div class="products__card-specs-card">
                                                    <h4 class="products__card-specs-card-title">
                                                        Двигатель
                                                    </h4>
                                                    <div class="products__card-specs-card-value">
                                                        YCG-50N5LC
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="products__card-specs-list-item">
                                                <div class="products__card-specs-card">
                                                    <h4 class="products__card-specs-card-title">
                                                        Электрическая мощность
                                                    </h4>
                                                    <div class="products__card-specs-card-value">
                                                        50 кВт/62,5 кВА
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="products__card-specs-list-item">
                                                <div class="products__card-specs-card">
                                                    <h4 class="products__card-specs-card-title">
                                                        Генератор
                                                    </h4>
                                                    <div class="products__card-specs-card-value">
                                                        YC-50-4
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="products__card-specs-list-item">
                                                <div class="products__card-specs-card">
                                                    <h4 class="products__card-specs-card-title">
                                                        Средний расход газа
                                                    </h4>
                                                    <div class="products__card-specs-card-value">
                                                        15,7 м3/ч
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="products__card-specs-list-item">
                                                <div class="products__card-specs-card">
                                                    <h4 class="products__card-specs-card-title">
                                                        Ресурс до капитального ремонта
                                                    </h4>
                                                    <div class="products__card-specs-card-value">
                                                        40 000 моточасов
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="products__card-specs-list-item">
                                                <div class="products__card-specs-card">
                                                    <h4 class="products__card-specs-card-title">
                                                        Размеры, мм
                                                    </h4>
                                                    <div class="products__card-specs-card-value">
                                                        1900 х 720 х 930
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <a href="#product-modal" class="products__details-link">
                                            Смотреть полное описание
                                            <svg width="45" height="45" aria-hidden="true" class="icon-eye">
                                                <use xlink:href="#eye"></use>
                                            </svg>
                                        </a>
                                    </div>
                                    <div class="products__card-image-container">
                                        <img src="img/products/1.png" alt="" class="products__card-image">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </li>
                <li class="products__list-item">
                    <div class="products__card js-tabs">
                        <div class="products__card-top-row">
                            <div class="products__card-heading-wrapper">
                                <h3 class="products__card-heading">
                                    Дизельный генератор
                                </h3>
                                <div class="products__card-model">
                                    YCG-50N5LC
                                </div>
                            </div>
                            <div class="products__card-nav">
                                <a href="#" class="products__card-nav-link js-tabs-btn active">
                                    50 кВт
                                </a>
                                <a href="#" class="products__card-nav-link js-tabs-btn">
                                    100 кВт
                                </a>
                                <a href="#" class="products__card-nav-link js-tabs-btn">
                                    150 кВт
                                </a>
                                <a href="#" class="products__card-nav-link js-tabs-btn">
                                    200 кВт
                                </a>
                                <a href="#" class="products__card-nav-link js-tabs-btn">
                                    250 кВт
                                </a>
                            </div>
                        </div>
                        <div class="products__card-tabs">
                            <div class="products__card-tabs-item active js-tabs-item">
                                <div class="products__card-content">
                                    <div class="products__card-info">
                                        <ul class="products__card-specs-list">
                                            <li class="products__card-specs-list-item">
                                                <div class="products__card-specs-card">
                                                    <h4 class="products__card-specs-card-title">
                                                        Двигатель
                                                    </h4>
                                                    <div class="products__card-specs-card-value">
                                                        YCG-50N5LC
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="products__card-specs-list-item">
                                                <div class="products__card-specs-card">
                                                    <h4 class="products__card-specs-card-title">
                                                        Электрическая мощность
                                                    </h4>
                                                    <div class="products__card-specs-card-value">
                                                        50 кВт/62,5 кВА
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="products__card-specs-list-item">
                                                <div class="products__card-specs-card">
                                                    <h4 class="products__card-specs-card-title">
                                                        Генератор
                                                    </h4>
                                                    <div class="products__card-specs-card-value">
                                                        YC-50-4
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="products__card-specs-list-item">
                                                <div class="products__card-specs-card">
                                                    <h4 class="products__card-specs-card-title">
                                                        Средний расход газа
                                                    </h4>
                                                    <div class="products__card-specs-card-value">
                                                        15,7 м3/ч
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="products__card-specs-list-item">
                                                <div class="products__card-specs-card">
                                                    <h4 class="products__card-specs-card-title">
                                                        Ресурс до капитального ремонта
                                                    </h4>
                                                    <div class="products__card-specs-card-value">
                                                        40 000 моточасов
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="products__card-specs-list-item">
                                                <div class="products__card-specs-card">
                                                    <h4 class="products__card-specs-card-title">
                                                        Размеры, мм
                                                    </h4>
                                                    <div class="products__card-specs-card-value">
                                                        1900 х 720 х 930
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <a href="#product-modal" class="products__details-link">
                                            Смотреть полное описание
                                            <svg width="45" height="45" aria-hidden="true" class="icon-eye">
                                                <use xlink:href="#eye"></use>
                                            </svg>
                                        </a>
                                    </div>
                                    <div class="products__card-image-container">
                                        <img src="img/products/2.png" alt="" class="products__card-image">
                                    </div>
                                </div>
                            </div>
                            <div class="products__card-tabs-item js-tabs-item">
                                <div class="products__card-content">
                                    <div class="products__card-info">
                                        <ul class="products__card-specs-list">
                                            <li class="products__card-specs-list-item">
                                                <div class="products__card-specs-card">
                                                    <h4 class="products__card-specs-card-title">
                                                        Двигатель
                                                    </h4>
                                                    <div class="products__card-specs-card-value">
                                                        YCG-50N5LC
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="products__card-specs-list-item">
                                                <div class="products__card-specs-card">
                                                    <h4 class="products__card-specs-card-title">
                                                        Электрическая мощность
                                                    </h4>
                                                    <div class="products__card-specs-card-value">
                                                        50 кВт/62,5 кВА
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="products__card-specs-list-item">
                                                <div class="products__card-specs-card">
                                                    <h4 class="products__card-specs-card-title">
                                                        Генератор
                                                    </h4>
                                                    <div class="products__card-specs-card-value">
                                                        YC-50-4
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="products__card-specs-list-item">
                                                <div class="products__card-specs-card">
                                                    <h4 class="products__card-specs-card-title">
                                                        Средний расход газа
                                                    </h4>
                                                    <div class="products__card-specs-card-value">
                                                        15,7 м3/ч
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="products__card-specs-list-item">
                                                <div class="products__card-specs-card">
                                                    <h4 class="products__card-specs-card-title">
                                                        Ресурс до капитального ремонта
                                                    </h4>
                                                    <div class="products__card-specs-card-value">
                                                        40 000 моточасов
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="products__card-specs-list-item">
                                                <div class="products__card-specs-card">
                                                    <h4 class="products__card-specs-card-title">
                                                        Размеры, мм
                                                    </h4>
                                                    <div class="products__card-specs-card-value">
                                                        1900 х 720 х 930
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <a href="#product-modal" class="products__details-link">
                                            Смотреть полное описание
                                            <svg width="45" height="45" aria-hidden="true" class="icon-eye">
                                                <use xlink:href="#eye"></use>
                                            </svg>
                                        </a>
                                    </div>
                                    <div class="products__card-image-container">
                                        <img src="img/products/2.png" alt="" class="products__card-image">
                                    </div>
                                </div>
                            </div>
                            <div class="products__card-tabs-item js-tabs-item">
                                <div class="products__card-content">
                                    <div class="products__card-info">
                                        <ul class="products__card-specs-list">
                                            <li class="products__card-specs-list-item">
                                                <div class="products__card-specs-card">
                                                    <h4 class="products__card-specs-card-title">
                                                        Двигатель
                                                    </h4>
                                                    <div class="products__card-specs-card-value">
                                                        YCG-50N5LC
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="products__card-specs-list-item">
                                                <div class="products__card-specs-card">
                                                    <h4 class="products__card-specs-card-title">
                                                        Электрическая мощность
                                                    </h4>
                                                    <div class="products__card-specs-card-value">
                                                        50 кВт/62,5 кВА
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="products__card-specs-list-item">
                                                <div class="products__card-specs-card">
                                                    <h4 class="products__card-specs-card-title">
                                                        Генератор
                                                    </h4>
                                                    <div class="products__card-specs-card-value">
                                                        YC-50-4
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="products__card-specs-list-item">
                                                <div class="products__card-specs-card">
                                                    <h4 class="products__card-specs-card-title">
                                                        Средний расход газа
                                                    </h4>
                                                    <div class="products__card-specs-card-value">
                                                        15,7 м3/ч
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="products__card-specs-list-item">
                                                <div class="products__card-specs-card">
                                                    <h4 class="products__card-specs-card-title">
                                                        Ресурс до капитального ремонта
                                                    </h4>
                                                    <div class="products__card-specs-card-value">
                                                        40 000 моточасов
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="products__card-specs-list-item">
                                                <div class="products__card-specs-card">
                                                    <h4 class="products__card-specs-card-title">
                                                        Размеры, мм
                                                    </h4>
                                                    <div class="products__card-specs-card-value">
                                                        1900 х 720 х 930
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <a href="#product-modal" class="products__details-link">
                                            Смотреть полное описание
                                            <svg width="45" height="45" aria-hidden="true" class="icon-eye">
                                                <use xlink:href="#eye"></use>
                                            </svg>
                                        </a>
                                    </div>
                                    <div class="products__card-image-container">
                                        <img src="img/products/2.png" alt="" class="products__card-image">
                                    </div>
                                </div>
                            </div>
                            <div class="products__card-tabs-item js-tabs-item">
                                <div class="products__card-content">
                                    <div class="products__card-info">
                                        <ul class="products__card-specs-list">
                                            <li class="products__card-specs-list-item">
                                                <div class="products__card-specs-card">
                                                    <h4 class="products__card-specs-card-title">
                                                        Двигатель
                                                    </h4>
                                                    <div class="products__card-specs-card-value">
                                                        YCG-50N5LC
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="products__card-specs-list-item">
                                                <div class="products__card-specs-card">
                                                    <h4 class="products__card-specs-card-title">
                                                        Электрическая мощность
                                                    </h4>
                                                    <div class="products__card-specs-card-value">
                                                        50 кВт/62,5 кВА
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="products__card-specs-list-item">
                                                <div class="products__card-specs-card">
                                                    <h4 class="products__card-specs-card-title">
                                                        Генератор
                                                    </h4>
                                                    <div class="products__card-specs-card-value">
                                                        YC-50-4
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="products__card-specs-list-item">
                                                <div class="products__card-specs-card">
                                                    <h4 class="products__card-specs-card-title">
                                                        Средний расход газа
                                                    </h4>
                                                    <div class="products__card-specs-card-value">
                                                        15,7 м3/ч
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="products__card-specs-list-item">
                                                <div class="products__card-specs-card">
                                                    <h4 class="products__card-specs-card-title">
                                                        Ресурс до капитального ремонта
                                                    </h4>
                                                    <div class="products__card-specs-card-value">
                                                        40 000 моточасов
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="products__card-specs-list-item">
                                                <div class="products__card-specs-card">
                                                    <h4 class="products__card-specs-card-title">
                                                        Размеры, мм
                                                    </h4>
                                                    <div class="products__card-specs-card-value">
                                                        1900 х 720 х 930
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <a href="#product-modal" class="products__details-link">
                                            Смотреть полное описание
                                            <svg width="45" height="45" aria-hidden="true" class="icon-eye">
                                                <use xlink:href="#eye"></use>
                                            </svg>
                                        </a>
                                    </div>
                                    <div class="products__card-image-container">
                                        <img src="img/products/2.png" alt="" class="products__card-image">
                                    </div>
                                </div>
                            </div>
                            <div class="products__card-tabs-item js-tabs-item">
                                <div class="products__card-content">
                                    <div class="products__card-info">
                                        <ul class="products__card-specs-list">
                                            <li class="products__card-specs-list-item">
                                                <div class="products__card-specs-card">
                                                    <h4 class="products__card-specs-card-title">
                                                        Двигатель
                                                    </h4>
                                                    <div class="products__card-specs-card-value">
                                                        YCG-50N5LC
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="products__card-specs-list-item">
                                                <div class="products__card-specs-card">
                                                    <h4 class="products__card-specs-card-title">
                                                        Электрическая мощность
                                                    </h4>
                                                    <div class="products__card-specs-card-value">
                                                        50 кВт/62,5 кВА
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="products__card-specs-list-item">
                                                <div class="products__card-specs-card">
                                                    <h4 class="products__card-specs-card-title">
                                                        Генератор
                                                    </h4>
                                                    <div class="products__card-specs-card-value">
                                                        YC-50-4
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="products__card-specs-list-item">
                                                <div class="products__card-specs-card">
                                                    <h4 class="products__card-specs-card-title">
                                                        Средний расход газа
                                                    </h4>
                                                    <div class="products__card-specs-card-value">
                                                        15,7 м3/ч
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="products__card-specs-list-item">
                                                <div class="products__card-specs-card">
                                                    <h4 class="products__card-specs-card-title">
                                                        Ресурс до капитального ремонта
                                                    </h4>
                                                    <div class="products__card-specs-card-value">
                                                        40 000 моточасов
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="products__card-specs-list-item">
                                                <div class="products__card-specs-card">
                                                    <h4 class="products__card-specs-card-title">
                                                        Размеры, мм
                                                    </h4>
                                                    <div class="products__card-specs-card-value">
                                                        1900 х 720 х 930
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <a href="#product-modal" class="products__details-link">
                                            Смотреть полное описание
                                            <svg width="45" height="45" aria-hidden="true" class="icon-eye">
                                                <use xlink:href="#eye"></use>
                                            </svg>
                                        </a>
                                    </div>
                                    <div class="products__card-image-container">
                                        <img src="img/products/2.png" alt="" class="products__card-image">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="calculator js-calculator" id="calculator">
    <div class="container">
        <div class="calculator__content">
            <h2 class="calculator__heading">
                Калькулятор экономии
            </h2>
            <form class="calculator__form" action="/">
                <div class="calculator__form-fields">
                    <div class="calculator__form-field">
                        <div class="calculator__form-label">
                            Потребление
                        </div>
                        <div class="calculator__form-input-wrapper">
                            <input type="tel" class="calculator__form-input js-numeric-input-decimals js-consumption"
                                value="2 500">
                            <div class="calculator__form-units">
                                <span class="calculator__form-units-value">
                                    2 500
                                </span>
                                <span class="calculator__form-form-input-units-text">
                                    кВт
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="calculator__form-field">
                        <div class="calculator__form-label">
                            Тариф на электроэнергию
                        </div>
                        <div class="calculator__form-input-wrapper">
                            <input type="tel" class="calculator__form-input js-decimal-input js-energy-tariff"
                                value="2,57">
                            <div class="calculator__form-units">
                                <span class="calculator__form-units-value">
                                    2,57
                                </span>
                                <span class="calculator__form-form-input-units-text">
                                    ₽/кВТ
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="calculator__form-field">
                        <div class="calculator__form-label">
                            Тариф на газ
                        </div>
                        <div class="calculator__form-input-wrapper">
                            <input type="tel" class="calculator__form-input js-decimal-input js-gas-tariff"
                                value="2,57">
                            <div class="calculator__form-units">
                                <span class="calculator__form-units-value">
                                    2,57
                                </span>
                                <span class="calculator__form-form-input-units-text">
                                    ₽/кВТ
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="calculator__results">
                    <h3 class="calculator__results-heading">
                        Наше предложение
                    </h3>
                    <ul class="calculator__results-list">
                        <li class="calculator__results-list-item">
                            <div class="calculator__results-card">
                                <div class="calculator__results-card-key">
                                    Текущие затраты на электроэнергию
                                </div>
                                <div class="calculator__results-card-value">
                                    <span class="js-energy-costs-current">6 000 000</span> <span
                                        class="calculator__results-card-units">₽/мес</span>
                                </div>
                            </div>
                        </li>
                        <li class="calculator__results-list-item">
                            <div class="calculator__results-card">
                                <div class="calculator__results-card-key">
                                    Прогнозируемая себестоимость электроэнергии
                                </div>
                                <div class="calculator__results-card-value">
                                    <span class="js-energy-costs-prognose">4 500 000</span> <span
                                        class="calculator__results-card-units">₽/мес</span>
                                </div>
                            </div>
                        </li>
                        <li class="calculator__results-list-item">
                            <div class="calculator__results-card">
                                <div class="calculator__results-card-key">
                                    Новая цена на тариф
                                </div>
                                <div class="calculator__results-card-value">
                                    <span class="js-new-tariff">2,57</span> <span
                                        class="calculator__results-card-units">₽/кВт</span>
                                </div>
                            </div>
                        </li>
                        <li class="calculator__results-list-item calculator__results-list-item--large">
                            <div class="calculator__results-card">
                                <div class="calculator__results-card-key">
                                    Экономия
                                </div>
                                <div class="calculator__results-card-value">
                                    <span class="js-saving">1 500 000</span> <span
                                        class="calculator__results-card-units">₽/мес</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="calculator__results-controls">
                        <div class="calculator__results-remark">
                            Стоимость носит информационный характер. Для точного расчета, обратитесь к менеджеру.
                        </div>
                        <button class="calculator__results-submit">
                            Расчитать проект
                            <svg width="45" height="45" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</section>

<section class="about" id="about">
    <div class="container">
        <div class="about__content">
            <img src="img/shape.svg" alt="" class="about__shape">
            <h2 class="about__large-heading">
                Компания Yuchai уже долгое время является лидером в производстве двигателей для всех основных видов транспорта.
            </h2>
            <div class="about__text-block">
                Двигатели Yuchai установлены более чемна 100 000 транспортных средств в Китае и в большинство азиатских стран. При производстве двигателей мы применяем технологические процессы
            </div>
            <div class="about__text-block">
                Двигатели Yuchai установлены более чемна 100 000 транспортных средств в Китае и в большинство азиатских стран. При производстве двигателей мы применяем технологические процессы
            </div>
        </div>
    </div>
</section>

<section class="certificates js-certificates" id="certificates">
    <div class="container">
        <div class="certificates__content">
            <div class="certificates__top-row">
                <h2 class="certificates__heading">
                    Сертификаты и документы
                </h2>
                <div class="certificates__arrows">
                    <button class="certificates__arrow certificates__arrow--prev">
                        <svg width="45" height="45" aria-hidden="true" class="icon-slider-arrow-left">
                            <use xlink:href="#slider-arrow-left"></use>
                        </svg>
                    </button>
                    <button class="certificates__arrow certificates__arrow--next">
                        <svg width="45" height="45" aria-hidden="true" class="icon-slider-arrow-right">
                            <use xlink:href="#slider-arrow-right"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="certificates__slider">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="img/certificate.jpg" class="certificates__slider-card" data-fancybox="certificate">
                                <img src="img/certificate.jpg" alt="" class="certificates__slider-card-image">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="img/certificate.jpg" class="certificates__slider-card" data-fancybox="certificate">
                                <img src="img/certificate.jpg" alt="" class="certificates__slider-card-image">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="img/certificate.jpg" class="certificates__slider-card" data-fancybox="certificate">
                                <img src="img/certificate.jpg" alt="" class="certificates__slider-card-image">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="img/certificate.jpg" class="certificates__slider-card" data-fancybox="certificate">
                                <img src="img/certificate.jpg" alt="" class="certificates__slider-card-image">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="img/certificate.jpg" class="certificates__slider-card" data-fancybox="certificate">
                                <img src="img/certificate.jpg" alt="" class="certificates__slider-card-image">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="img/certificate.jpg" class="certificates__slider-card" data-fancybox="certificate">
                                <img src="img/certificate.jpg" alt="" class="certificates__slider-card-image">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}